<%
  var postYear = page.date.year();
  var currentYear = moment().year();
  var yearDiff = currentYear - postYear;
  var old = yearDiff > 4;
%>
<% if (old) { %>
  <div class="alert alert-warning" role="alert">
    <strong>This post is at least <%= yearDiff %> years old.</strong> Please keep in mind that some
    of the information in this post might be outdated and links and formatting may be broken. This
    post might also not reflect my current views.
  </div>
<% } %>