@import "@fontsource-variable/gabarito";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-700: #8000ff;
  --color-primary-50: #f5f0ff;
  --color-primary-100: #ede4ff;
  --color-primary-200: #ddcdff;
  --color-primary-300: #c5a6ff;
  --color-primary-400: #ab73ff;
  --color-primary-500: #943bff;
  --color-primary-600: #8c14ff;
  --color-primary-800: #6c01d6;
  --color-primary-900: #5903af;
  --color-primary-950: #360077;

  --color-secondary: #e100ff;

  --font-sans: "Gabarito Variable", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* increase default font size */
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
  --text-4xl: 3rem;
  --text-5xl: 3.75rem;
  --text-6xl: 4.5rem;
  --text-7xl: 6rem;
  --text-8xl: 8rem;
  --text-9xl: 10rem;
}

section {
  @apply px-8 py-16;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  @apply bg-zinc-50 text-zinc-900;

  @variant dark {
    @apply bg-black text-zinc-50;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
