
$enable-rounded: false;
$font-family-sans-serif: 'Overpass', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: 'Overpass Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$blue: rgb(0, 210, 255);
$indigo: rgb(58, 71, 213);
$secondary: $indigo;
$progress-height: 0.5rem;