---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
  title?: string;
  seoOverride?: SEOProps;
}

const { title, seoOverride } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title !== undefined ? `${title} | Jake Walker` : "Jake Walker"}
      description="Avid Coder, Cyber Security Guy and Tinkerer"
      charset="utf-8"
      openGraph={{
        basic: {
          title: title ?? "Jake Walker",
          type: "website",
          image: "/og/main.png",
        },
        image: {
          width: 1200,
          height: 630,
        },
        optional: {
          locale: "en_GB",
          siteName: "Jake Walker",
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@_jakewalker1",
        creator: "@_jakewalker1",
        title: title ?? "Jake Walker",
        description: "Avid Coder, Cyber Security Guy and Tinkerer",
      }}
      {...seoOverride}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/memojiPurple.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternative"
      type="application/rss+xml"
      title="Jake Walker"
      href={new URL("rss", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="grid grid-rows-[auto_1fr_auto] grid-cols-[100%]">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
