---
import Layout from "./Layout.astro";
---

<Layout>
  <section>
    <div
      class="container mx-auto prose lg:prose-lg prose-zinc dark:prose-invert"
    >
      <slot />
    </div>
  </section>
</Layout>
