<div class="sidebar-card card">
  <div class="card-header">
    GPG Key
  </div>
  <div class="card-body">
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-fingerprint fa-fw"></i></span><code>1e17 2aee acf8 ae3d</code></li>
      <li><span class="fa-li"><i class="fas fa-key"></i></span><a href="https://keybase.io/jakew/pgp_keys.asc?fingerprint=26a77e964788b410ab55b7d91e172aeeacf8ae3d">File</a></li>
    </ul>
  </div>
</div>