<div class="sidebar-card card">
  <div class="card-header">
    GPG & SSH Keys
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-3">GPG</dt>
      <dd class="col-9"><code>EDBE 8023 62B3 4816</code> <a href="62B34816_pub.asc">62B34816_pub.asc <i class="fas fa-download"></i></a></dd>

      <dt class="col-3">SSH</dt>
      <dd class="col-9"><a href="id_rsa.pub">id_rsa.pub <i class="fas fa-download"></i></a></dd>
    </dl>
  </div>
</div>