<div class="sidebar-card card">
  <div class="card-header">
    Social
  </div>
  <div class="card-body">
    <a href="mailto:hi@jakew.me" class="btn btn-primary btn-block"><i class="fas fa-envelope fa-fw"></i> Email</a>
    <a href="https://github.com/jake-walker" class="btn btn-primary btn-block"><i class="fab fa-github fa-fw"></i> GitHub</a>
    <a href="https://gitlab.com/_jakew" class="btn btn-primary btn-block"><i class="fab fa-gitlab fa-fw"></i> GitLab</a>
    <a href="https://twitter.com/_jakewalker1" class="btn btn-primary btn-block"><i class="fab fa-twitter fa-fw"></i> Twitter</a>
    <a href="https://keybase.io/jakew" class="btn btn-primary btn-block"><i class="fab fa-keybase fa-fw"></i> Keybase</a>
    <a href="https://tilde.zone/@jakew" class="btn btn-primary btn-block"><i class="fab fa-mastodon fa-fw"></i> Mastodon</a>
  </div>
</div>