<div class="sidebar-card card">
  <div class="card-header">
    Social
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-block">Email</button>
    <button type="button" class="btn btn-primary btn-block">GitHub</button>
    <button type="button" class="btn btn-primary btn-block">GitLab</button>
    <button type="button" class="btn btn-primary btn-block">Twitter</button>
    <button type="button" class="btn btn-primary btn-block">Keybase</button>
    <button type="button" class="btn btn-primary btn-block">Mastodon</button>
  </div>
</div>